<mjml>
  <mj-head>
    <mj-preview></mj-preview>
    <mj-breakpoint width="480px"></mj-breakpoint>
    <mj-attributes>
      <mj-all padding="0"></mj-all>
    </mj-attributes>
    <mj-style>
      @media only screen and (max-width: 753px) {
        .text > div {
            text-align: inherit !important;
        }
    
        .wrapper > table > tbody > tr > td {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .section > table > tbody > tr > td {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .column > table > tbody > tr > td {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .padB40 {
            padding-bottom: 40px !important;
        }

        .image {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .image > table {
            text-align: center !important;
            margin: 0 auto !important;
        }

        .divider {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .button > table {
            width: 100% !important;
        }

        .button > table > tbody > tr > td > a {
            width: 80% !important;
        }
    }
    </mj-style>
    <mj-style inline="inline">
      .column > table { border-collapse: separate; }
    </mj-style>
    <mj-font href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap" name="DM Sans"></mj-font>
    <mj-font href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap" name="Public Sans"></mj-font>
  </mj-head>
  <mj-body background-color="#f5f5fe" name="Mail de bienvenue CFA" width="754px">
    <mj-wrapper border-radius="0px" css-class="wrapper" padding="32px 77px 32px 77px">
      <mj-section border-radius="0px" css-class="section" name="mj-section_group">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" vertical-align="middle" width="14.83%">
            <mj-image align="left" alt="Image" css-class="image" src="<%= data.images.logoRf %>" width="89px">

            </mj-image>
          </mj-column>
          <mj-column border-radius="0px" css-class="column" padding="0px 24px 0px 24px" vertical-align="middle" width="34.83%">
            <mj-image align="left" alt="Image" css-class="image" padding="17px 0px 17px 0px" src="<%= data.images.logoLba %>" width="160px">

            </mj-image>
          </mj-column>
          <mj-column border-radius="0px" css-class="column" vertical-align="top" width="50.33%">

          </mj-column>
        </mj-group>
      </mj-section>
      <mj-spacer height="24px">

      </mj-spacer>
      <mj-section background-color="#ffffff" border-radius="4px" border="1px solid #e3e3fd" css-class="section" name="mj-section_group" padding="23px 23px 23px 23px">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" padding="0px 0px 0px 0px" vertical-align="middle" width="-198.92000000000002%">
            <mj-text align="left" color="#161616" css-class="text" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="16px" font-weight="400" line-height="24px" padding="12px 0px 24px 0px">
              Bienvenue <%= data.first_name %> <%= data.last_name %>,
<br/>
            </mj-text>
            <mj-text align="left" color="#161616" css-class="text" font-family="DM Sans, Times, Georgia, serif" font-size="14px" font-weight="400" line-height="24px" padding="0px 0px 24px 0px">
              <span style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 16px; font-weight: 400;">Félicitations, votre compte La bonne alternance est créé pour l’établissement : </span><span style="font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 16px; font-weight: 700;"><%= data.establishment_name %></span>
<br/>
            </mj-text>
            <mj-text align="left" color="#161616" css-class="text" font-family="DM Sans, Times, Georgia, serif" font-size="16px" font-weight="400" line-height="24px" padding="0px 0px 12px 0px">
              <span style="font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: 400;">Vous pouvez désormais accéder à votre espace afin de publier des offres en quelques clics. Ces dernières seront diffusées au plus près des candidats sur </span><a href="https://labonnealternance.apprentissage.beta.gouv.fr/?utm_source=jecandidate&utm_medium=email&utm_campaign=jecandidatecfa" style="font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: 400; text-decoration: underline; color: inherit;">La bonne alternance</a><span style="font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: 400;">, </span><a href="https://www.1jeune1solution.gouv.fr/" style="font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: 400; text-decoration: underline; color: inherit;">1jeune1solution</a><span style="font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: 400;">, </span><a href="https://www.parcoursup.fr/" style="font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: 400; text-decoration: underline; color: inherit;">parcoursup</a><span style="font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: 400;"> et bien d’autres sites.</span>
<br/>
            </mj-text>
          </mj-column>
          <mj-column border-radius="0px" css-class="column" padding="0px 0px 0px 0px" vertical-align="middle" width="99.64%">
            <mj-text align="left" color="#161616" css-class="text" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="16px" font-weight="400" line-height="24px" padding="12px 0px 0px 0px">
              Votre identifiant :
<br/>
            </mj-text>
            <mj-text align="left" color="#161616" css-class="text" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="16px" font-weight="700" line-height="24px" padding="0px 0px 12px 0px">
              <%= data.email %>
<br/>
            </mj-text>
          </mj-column>
          <mj-column border-radius="0px" css-class="column" padding="0px 0px 0px 0px" vertical-align="middle" width="99.64%">
            <mj-text align="left" color="#161616" css-class="text" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="14px" font-style="italic" font-weight="400" line-height="24px" padding="12px 0px 24px 0px">
              Pas besoin de mot de passe avec La bonne alternance. Pour vous connecter, renseignez votre adresse mail afin de recevoir un lien de connexion sécurisé. 
<br/>
            </mj-text>
            <mj-button href="<%= data.confirmation_url %>" align="center" background-color="#000091" border-radius="0px" border="1px solid #000091" color="#ffffff" css-class="button" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="14px" font-weight="700" inner-padding="4px 0px 4px 0px" line-height="24px" padding="0px 0px 12px 0px" width="184px">
              Accéder à mon espace
            </mj-button>
          </mj-column>
          <mj-column border-radius="0px" css-class="column" padding="0px 0px 0px 0px" vertical-align="middle" width="99.64%">
            <mj-text align="left" color="#161616" css-class="text" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="14px" font-style="italic" font-weight="400" line-height="24px" padding="12px 0px 24px 0px">
              Attention, ce lien n'est valide qu'une heure.
<br/>
            </mj-text>
            <mj-text align="left" color="#161616" css-class="text" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="14px" font-weight="400" line-height="22px" padding="0px 0px 12px 0px">
              Si le lien ne fonctionne pas, copiez le lien suivant dans votre navigateur :
<br/><%= data.confirmation_url %>
<br/>
            </mj-text>
          </mj-column>
        </mj-group>
      </mj-section>
      <mj-spacer height="24px" padding="0px 0px 32px 0px">

      </mj-spacer>
      <mj-section border-radius="4px" css-class="section" name="mj-section_group">
        <mj-group>
        <mj-column border-radius="0px" css-class="column" vertical-align="middle"
        width="100%">
        <mj-text align="left" color="#666666" css-class="text" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="14px" font-weight="400"
        line-height="24px">
        Ce courriel est généré automatiquement, vous ne pouvez pas y
        répondre.
        <br/>Pour toute question, consultez notre <a
        href="https://labonnealternance.apprentissage.beta.gouv.fr/faq" style="text-decoration: underline; color: inherit;">FAQ</a> ou écrivez-nous à <a
        href="mailto:labonnealternance@apprentissage.beta.gouv.fr"
        style="text-decoration: underline; color: inherit;">labonnealternance@apprentissage.beta.gouv.fr</a>
        <br/>
        </mj-text>
        </mj-column>
        </mj-group>
        </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>
