<mjml>
  <mj-head>
    <% if(data.isParcoursup){ %>
    <mj-title>RDV Apprentissage est disponible sur Parcoursup</mj-title>
    <% } %> <% if(data.isAffelnet){ %>
    <mj-title>RDV Apprentissage est disponible sur Choisir son affectation après la 3e</mj-title>
    <% } %>
    <mj-breakpoint width="480px"></mj-breakpoint>
    <mj-attributes>
      <mj-all padding="0"></mj-all>
    </mj-attributes>
    <mj-style>
      @media only screen and (max-width: 799px) {
      .text > div {
      text-align: inherit !important;
      }
      .wrapper > table > tbody > tr > td {
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .section > table > tbody > tr > td {
      padding-left: 20px !important;
      padding-right: 20px !important;
      }
      .column > table > tbody > tr > td {
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .padB40 {
      padding-bottom: 40px !important;
      }
      .image {
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .image > table {
      text-align: center !important;
      margin: 0 auto !important;
      }
      .divider {
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .button > table {
      width: 100% !important;
      }
      .button > table > tbody > tr > td > a {
      width: 80% !important;
      }
      }
    </mj-style>
    <mj-style inline="inline">
      .column > table { border-collapse: separate; }
    </mj-style>
  </mj-head>

  <mj-body background-color="#f5f5fe" width="800px">
    <mj-column border-radius="0px" css-class="wrapper" padding="32px 100px 32px 100px">
      <mj-section border-radius="0px" css-class="section" name="mj-section_group">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" vertical-align="middle" width="14.83%">
            <mj-image align="left" alt="" css-class="image" alt="" src="<%= data.images.logoRf %>" width="89px"></mj-image>
          </mj-column>
          <mj-column border-radius="0px" css-class="column" padding="0px 24px 0px 24px" vertical-align="middle" width="34.83%">
            <mj-image align="left" alt="" css-class="image" href="https://labonnealternance.apprentissage.beta.gouv.fr?<%= data.utmParams %>" padding="17px 0px 17px 0px" src="<%= data.images.logoLba %>" alt="Lien vers le site de La bonne alternance" width="160px"></mj-image>
          </mj-column>
          <mj-column border-radius="0px" css-class="column" vertical-align="top" width="50.33%"></mj-column>
        </mj-group>
      </mj-section>
      <mj-spacer height="24px"></mj-spacer>

      <mj-section background-color="#ffffff" border-radius="4px" border="1px solid #e3e3fd" css-class="section" name="mj-section_group">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" padding="23px" vertical-align="middle" width="100%">
            <mj-text align="left" color="#000091" css-class="text" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="20px" font-weight="700" line-height="26px" padding="16px 0px 16px 0px">
              Il est encore temps d’activer le service de prise de contact proposé par La bonne alternance pour 
              <% if(data.isParcoursup){ %>
              Parcoursup.
              <% } %> <% if(data.isAffelnet){ %>
              Choisir son affectation après la 3e.
              <% } %>
            </mj-text>
            <mj-text font-size="16px" line-height="24px">
              En activant ce service, un formulaire de contact sera affiché sur vos formations dans <% if(data.isParcoursup){ %>Parcoursup<%}%><% if(data.isAffelnet){ %>Choisir son affectation après la 3e<%}%>.
              Les candidats intéressés pourront ainsi vous adresser leurs questions, que vous recevrez par courriel.              
            </mj-text>
            <mj-button color="#ffffff" padding-top="20px" font-size="16px" font-weight="bold" padding-bottom="20px" background-color="#000091" href="<%= data.etablissement.linkToForm %>&<%= data.utmParams %>">
              Je souhaite activer le service<% if(data.isParcoursup){ %> sur Parcoursup<%}%>
            </mj-button>
            <mj-image align="center" alt="" css-class="image" padding="12px" src="<%= data.images.optoutCfa %>" width="500px"></mj-image>

            <mj-text font-weight="bold" font-size="20px" line-height="26px">
              Comment ça marche ?
              <br /><br />
            </mj-text>

            <mj-text font-size="16px" line-height="24px">
              En acceptant l’invitation, <span style="font-weight:bold;">un formulaire de contact sera déployé sur vos formations</span> actuelles et futures exposées sur <% if(data.isParcoursup){ %>Parcoursup<% } %><% if(data.isAffelnet){ %>Choisir son affectation après la 3e<% } %>, rattachées à votre établissement.
              <br /><br/>
              <%= data.etablissement.name %> <br />
              <%= data.etablissement.formateur_address %><br/>
              <%= data.etablissement.formateur_zip_code %> <%= data.etablissement.formateur_city %><br/>
              SIRET : <%= data.etablissement.formateur_siret %>
              <br /><br />
              Vous recevrez les demandes des candidats à l’adresse email renseignée par votre établissement comme email de contact du lieu de formation auprès de votre <a href="https://catalogue-apprentissage.intercariforef.org/" style="color:#161616; text-decoration: 'underline';">Carif-Oref</a>.
              <br /><br />
              Ce service est proposé par <a href="https://labonnealternance.apprentissage.beta.gouv.fr/?<%= data.utmParams %>" style="color:#161616; text-decoration: 'underline';">La bonne alternance</a> pour <% if(data.isParcoursup){ %>Parcoursup<% } %> <% if(data.isAffelnet){ %>Choisir son affectation après la 3e<% } %>.
              <br /><br />
          	</mj-text>

            <mj-spacer height="24px"></mj-spacer>
                                  
            <mj-button color="#000091" font-size="16px" font-weight="bold" background-color="#ffffff" border="1px solid #000091" href="https://labonnealternance.apprentissage.beta.gouv.fr/organisme-de-formation?<%= data.utmParams %>">
              Je souhaite en savoir plus sur ce service
            </mj-button>
            <mj-spacer height="16px"></mj-spacer>
            <mj-button color="#000091" font-size="16px" font-weight="bold" background-color="#ffffff" border="1px solid #000091"  href="mailto:<%= data.publicEmail %>?subject=Email%20CFA%20Optout%20-%20Question">
              J’ai une question
            </mj-button>
            <mj-spacer height="24px"></mj-spacer>

            <mj-text font-size="16px" line-height="24px">
              Cordialement,<br/>
              L'équipe <a href="https://labonnealternance.apprentissage.beta.gouv.fr/organisme-de-formation?<%= data.utmParams %>">La bonne alternance</a>,<br/>
            </mj-text>
          </mj-column>
        </mj-group> 
      </mj-section>
        
      <% if(data.isParcoursup){ %>
        <mj-section border-radius="4px" css-class="section" name="mj-section_group">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" vertical-align="middle" width="100%">
          <mj-spacer height="16px"></mj-spacer>
          <mj-image align="right" alt="" css-class="image" alt="" src="<%= data.images.logoParcoursup %>" width="268px"></mj-image>
          </mj-column>
        </mj-group>
      </mj-section>
      <% } %>
    
      <mj-spacer height="24px"></mj-spacer>

      <mj-section border-radius="4px" css-class="section" name="mj-section_group">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" vertical-align="middle" width="100%">
            <mj-text align="left" color="#666666" css-class="text" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="14px" font-weight="400" line-height="24px">
              Ce courriel est généré automatiquement, vous ne pouvez pas y répondre.
              <br />
              Pour toute question, consultez notre <a href="https://labonnealternance.apprentissage.beta.gouv.fr/faq?<%= data.utmParams %>">FAQ</a> ou écrivez-nous à <a href="mailto:<%= data.publicEmail %>"><%= data.publicEmail %></a>
              <br /><br />
              La bonne alternance est un site développé par la Délégation générale à l’emploi et à la formation professionnelle (DGEFP), au sein de l’État, conformément aux missions d’intérêt public du ministère du Travail et des Solidarités.
              <br /><br />
              Nous vous contactons car vous avez déclaré des formations en apprentissage auprès de votre Carif Oref.
              <br /><br />
              Par ailleurs, nous ne faisons aucune utilisation commerciale de vos adresses e-mail. Nous avons accès à vos données à caractère personnel car votre école transmet vos données au Tableau de bord de l’apprentissage. Vous bénéficiez d’un droit d’opposition que vous pouvez utiliser à tout moment via l’adresse <a href="mailto:<%= data.publicEmail %>"><%= data.publicEmail %></a>. Si vous pensez que vos droits ne sont pas respectés, vous pouvez à tout moment introduire une réclamation auprès de la CNIL.
              <br /><br />
              Pour plus d’informations sur le traitement de vos données, vous pouvez vous rendre sur la <a href="https://labonnealternance.apprentissage.beta.gouv.fr/politique-de-confidentialite?<%= data.utmParams %>">politique de confidentialité de La bonne alternance</a>.
            </mj-text>
          </mj-column>
        </mj-group>
      </mj-section>
    </mj-column>
  </mj-body>
</mjml>
