<% var dansXjours = data.threshold === 1 ? 'demain' : 'dans '+data.threshold+' jours' %>
<mjml>
  <mj-head>
    <mj-title>Expiration prochaine de vos offres</mj-title>
    <mj-font name="Work Sans" href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" />
    <mj-style inline="inline"> .grey {color: #1E1E1E;} </mj-style>
    <mj-attributes>
      <mj-text color="#242424" font-family="Work Sans, Arial" font-size="16px" line-height="24px" />
      <mj-button font-size="16px" line-height="24px" padding="8px 24px" font-family="Work Sans, Arial" height="40px" />
    </mj-attributes>
  </mj-head>
  <mj-body background-color="#E5E5E5">
    <mj-section>
      <mj-column>
        <mj-image src="<%= data.images.logoLba %>" width="150px" alt="Logo du site La bonne alternance" />
      </mj-column>
    </mj-section>

    <mj-section padding-top="0">
      <mj-column width="600px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="20px 10px">
        <mj-text> Bonjour <%= data.first_name %> <%= data.last_name %>, </mj-text>
        <% if(data.is_delegated){ %>
        <mj-text>L'offre d'alternance que vous avez publiée pour <%= data.establishment_raison_sociale %> expire <%= dansXjours %></mj-text>
        <% } else { %>
        <mj-text> La diffusion de votre offre d'alternance expire <%= dansXjours %> et ne sera bientôt plus visible par les jeunes. </mj-text>
        <% } %>

        <mj-text>Dîtes-nous où vous en êtes de votre recrutement.</mj-text>

        <mj-text font-weight="700" padding-bottom="24px">Rappel de vos offres :</mj-text>

        <% data.offres.forEach((offre) => { %>

        <mj-wrapper padding="0px 0px 12px 0px">
          <mj-column width="548px" padding="10px 0px" background-color="#F6F6F6">
            <mj-text padding-bottom="0px">Métier: <b><%= offre.rome_appellation_label %></b> </mj-text>
            <mj-text padding-bottom="0px" padding-top="0px">Type de contrat: <b><%= offre.job_type %></b> </mj-text>
            <mj-text padding-bottom="0px" padding-top="0px">Niveau de formation: <b><%= offre.job_level_label %></b> </mj-text>
            <mj-text padding-top="0px">Date de début: <b><%= offre.job_start_date %></b> </mj-text>
            <mj-text padding-top="0" padding-bottom="0"><a href="<%= offre.pourvue %>">L'offre est pourvue</a></mj-text>
            <mj-text padding-top="0"><a href="<%= offre.supprimer %>">Supprimer l'offre</a></mj-text>
          </mj-column>
        </mj-wrapper>

        <% }); %>

        <mj-text padding-top="24px">Connectez-vous à votre espace pour gérer l’intégralité de vos offres :</mj-text>
        <mj-button color="#ffffff" background-color="#000091" href="<%= data.url %>" padding-bottom="24px"> Se connecter </mj-button>

        <mj-section padding="0px">
          <mj-column>
            <mj-divider border-width="1px" border-color="#E3E3FD" />
          </mj-column>
        </mj-section>
        <mj-text>
          L'équipe La bonne alternance, <br />
          Mission interministérielle pour l'apprentissage
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-top="30px">
      <mj-column>
        <mj-image src="<%= data.images.logoFooter %>" width="200px" align="left"></mj-image>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
