<mjml>
    <mj-head>
        <mj-title>Votre candidature chez <%= data.company_name %></mj-title>
        <mj-style inline="inline">
            a:link,a:visited, a:hover, a:active {color: #206BC4;}, a {color: #3A55D1;}, body{background: #EDF0F2;}
            a.purple {color: #3A55D1; text-decoration: none}
            .link-nostyle { color: inherit; text-decoration: none; font-size: 28px }
            .link-nostyle:hover { color: inherit; text-decoration: none }
            .btn-link a {
            display: inline-block;
            border-radius: 3px;
            }
            .link-black { color: #000; text-decoration: underline; }
            .link-black:hover { color: #000; text-decoration: underFline; }
        </mj-style>
        <mj-attributes>
            <mj-text padding="0px" color="#232E3C" font-family="Arial,sans-serif" font-size="14px" line-height="23px" />
            <mj-divider padding="0px" />
        </mj-attributes>
    </mj-head>
    <mj-body background-color="#EDF0F2">
        <mj-section padding-bottom="10px">
            <mj-column padding="0px" vertical-align="middle">
                <mj-image padding="0px" width="150px" src="<%= data.images.logoLba %>"
                    alt="Logo du site La bonne alternance" />
            </mj-column>
        </mj-section>

        <mj-section padding-bottom="2px"></mj-section>

        <mj-wrapper background-color="#ffffff" padding="0 20px 50px 20px" border-radius="10px">
            <mj-section padding-top="15px" padding-bottom="0">
                <mj-column>
                    <mj-text padding-bottom="32px" font-size="18px" padding="0px" font-weight="700" line-height="24px"
                        text-decoration="none" color="#D07C75">
                        Votre candidature a bien été envoyée à
                    </mj-text>
                    <mj-text font-size="16px" line-height="24px" color="#000000">
                        Entreprise : <span style="font-weight:bold">
                            <%= data.company_name %>
                        </span>
                    </mj-text>
                    <mj-text font-size="16px" line-height="24px" color="#000000" padding-top="12px">
                        <%= data.company_address %>
                    </mj-text>
                    <mj-text font-size="16px" line-height="24px" color="#000000" padding-top="12px">
                        Secteur d'activité : <span style="font-weight:bold">
                            <%= data.company_naf %>
                        </span>
                    </mj-text>
                    <mj-text font-size="16px" line-height="24px" color="#000000" padding-top="12px">
                        Lien vers l'offre:
                    </mj-text>
                    <mj-text font-size="16px" line-height="24px" color="#000000" padding-top="12px">
                        <a style="font-weight:normal; color: #000091; font-size: 16px; text-decoration-line: underline;"
                            href="<%= data.urlOfDetail %>" color="#000091">
                            <%= data.urlOfDetailNoUtm %>
                        </a>
                    </mj-text>
                </mj-column>
            </mj-section>

        </mj-wrapper>

        <mj-section padding-bottom="20px"></mj-section>

        <mj-wrapper background-color="#ffffff" padding="10px 0 20px" border-radius="10px">
            <mj-section padding="15px">
                <mj-column>
                    <mj-text font-size="18px" line-height="20px" font-weight="700" color="#242424">
                        Bravo pour cette candidature !
                    </mj-text>
                    <mj-text font-size="16px" line-height="20px">
                        Continuez à envoyer des candidatures à d'autres établissements.
                    </mj-text>
                    <mj-text font-size="16px" line-height="20px">
                        <span style="color:#3A3A3A; font-weight:bold">En moyenne, il faut envoyer 30 candidatures pour décrocher un
                            entretien.</span>
                    </mj-text>
                    <mj-wrapper padding="0">
                        <mj-column padding-top="10px" padding-bottom="0" vertical-align="middle">
                            <mj-button background-color="#000091" color="white" href="https://labonnealternance.apprentissage.beta.gouv.fr/?utm_source=jecandidate&utm_medium=email&utm_campaign=jecandidatecandidat"
                                css-class="btn-link" padding-bottom="0">
                                J'envoie d'autres candidatures
                            </mj-button>
                        </mj-column>
                    </mj-wrapper>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-section padding-bottom="20px"></mj-section>

        <mj-wrapper background-color="#ffffff" padding="10px 0 20px" border-radius="10px">
            <mj-section padding="15px">
                <mj-column>
                    <mj-text font-size="18px" line-height="20px" font-weight="700" color="#000091">
                        Besoin d’aide dans le suivi de vos candidatures ?
                    </mj-text>
                    <mj-text font-size="16px" line-height="20px">
                        <br />
                        Téléchargez notre modèle de suivi :
                    </mj-text>
                    <mj-wrapper padding="0">
                        <mj-column padding-top="10px" padding-bottom="0" vertical-align="middle">
                            <mj-button background-color="#000091" color="white" href="https://rebrand.ly/Tableau-de-suivi-des-candidatures"
                                css-class="btn-link" padding-bottom="0">
                                Suivre mes candidatures 
                            </mj-button>
                        </mj-column>
                    </mj-wrapper>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-section padding-bottom="20px"></mj-section>

        <mj-wrapper background-color="#ffffff" padding="10px 0 20px" border-radius="10px">
            <mj-section padding="15px">
                <mj-column>
                    <mj-text font-size="18px" line-height="20px" font-weight="700" color="#242424">
                        Vous avez déjà envoyé plus de 30 candidatures ?
                    </mj-text>
                    <mj-text font-size="16px" line-height="20px" color="#242424" padding-top="20px">
                        Voici quelques conseils pour optimiser vos chances :
                        <ul style="list-style: none;padding: 0;">
                            <li style="margin-top: 20px;">
                                💡 <span style="font-weight: bold;">Profitez de conseils</span> pour mieux cibler les
                                entreprises et les convaincre de vous rencontrer, grâce à notre outil
                                interactif "<a class="link-black"
                                    href="https://dinum.didask.com/courses/demonstration/60d21bf5be76560000ae916e">chercher
                                    un employeur</a>"
                            </li>
                            <li style="margin-top: 20px;">
                                💡 <span style="font-weight: bold;">Contactez la Mission locale de votre secteur.</span>
                                Des conseillers vous aideront dans vos recherches d'entreprise.
                                <a class="link-black" href="https://www.unml.info/le-reseau/annuaire/"> Trouver ma
                                    mission locale.</a>
                            </li>
                            <li style="margin-top: 20px;">
                                💡 <span style="font-weight: bold;">Diversifiez vos démarches</span> en répondant à des
                                offres d'emploi ainsi qu'en envoyant des candidatures spontanées, car 5
                                employeurs sur 10 recrutent sans déposer d'offres. <a class="link-black"
                                    href="https://labonnealternance.apprentissage.beta.gouv.fr/?utm_source=la-bonne-alternance&utm_medium=email&utm_campaign=support">
                                    La bonne alternance</a> diffuse des offres ainsi qu'une liste
                                d'entreprises susceptibles de recruter en alternance et auxquelles vous pouvez adresser
                                une candidature spontanée.
                            </li>
                        </ul>
                    </mj-text>
                    <mj-text font-size="16px" line-height="16px" color="#242424" padding-top="10px">
                        À bientôt,
                    </mj-text>
                    <mj-text font-size="16px" line-height="16px" color="#242424" padding-top="10px">
                        L'équipe La bonne alternance.
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-section padding-bottom="20px"></mj-section>

        <mj-wrapper background-color="#ffffff" padding="10px 0 20px" border-radius="10px">
            <mj-section padding="15px">
                <mj-column>
                    <mj-text font-size="12px" line-height="20px" font-weight="400" color="#242424">
                        « La bonne alternance »  est un site développé par la <a class="link-black" href="https://beta.gouv.fr/incubateurs/mission-apprentissage.html">
                        Mission interministérielle pour l'apprentissage</a>, au sein de l’Etat, conformément aux missions d’intérêt public du ministère du Travail.
                    </mj-text>
                    <mj-text font-size="12px" line-height="20px" font-weight="400" color="#242424">
                        Conformément à l’article L.34-5 du code des postes et communications électroniques, vous bénéficiez d’un droit d’opposition 
                        que vous pouvez utiliser à tout moment via l’adresse 
                        <a class="link-black" href="mailto:labonnealternance@apprentissage.beta.gouv.fr?subject=Droit%20opposition%20candidat%20-%20Candidature%20spontanée">
                            labonnealternance@apprentissage.beta.gouv.fr</a>. 
                        Votre adresse e-mail sera, dès lors supprimée de notre base de données et vous ne serez plus contacté.
                    </mj-text>
                    <mj-text font-size="12px" line-height="20px" font-weight="400" color="#242424">
                        Si vous pensez que vos droits ne sont pas respectés, vous pouvez à tout moment introduire une réclamation auprès de la CNIL.
                    </mj-text>
                    <mj-text font-size="12px" line-height="20px" font-weight="400" color="#242424">
                        Pour plus d’informations sur le traitement de vos données, vous pouvez vous rendre sur la 
                        <a class="link-black" href="https://labonnealternance.apprentissage.beta.gouv.fr/politique-de-confidentialite">
                            politique de confidentialité de La bonne alternance</a>.
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-section padding-top="50px">
            <mj-column></mj-column>
        </mj-section>
    </mj-body>
</mjml>
