<mjml>
  <mj-head>
    <mj-title>La prise de rendez-vous est activée pour votre CFA sur La bonne alternance</mj-title>
    <mj-breakpoint width="480px"></mj-breakpoint>
    <mj-attributes>
      <mj-all padding="0"></mj-all>
    </mj-attributes>
    <mj-style>
      @media only screen and (max-width: 799px) {
      .text > div {
      text-align: inherit !important;
      }
      .wrapper > table > tbody > tr > td {
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .section > table > tbody > tr > td {
      padding-left: 20px !important;
      padding-right: 20px !important;
      }
      .column > table > tbody > tr > td {
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .padB40 {
      padding-bottom: 40px !important;
      }
      .image {
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .image > table {
      text-align: center !important;
      margin: 0 auto !important;
      }
      .divider {
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .button > table {
      width: 100% !important;
      }
      .button > table > tbody > tr > td > a {
      width: 80% !important;
      }
      }
    </mj-style>
    <mj-style inline="inline">
      .column > table { border-collapse: separate; }
    </mj-style>
  </mj-head>

  <mj-body background-color="#f5f5fe" width="800px">
    <mj-wrapper border-radius="0px" css-class="wrapper" padding="32px 100px 32px 100px">
      <mj-section border-radius="0px" css-class="section" name="mj-section_group">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" vertical-align="middle" width="14.83%">
            <mj-image align="left" alt="Image" css-class="image" alt="" src="<%= data.images.logoRf %>" width="89px"></mj-image>
          </mj-column>
          <mj-column border-radius="0px" css-class="column" padding="0px 24px 0px 24px" vertical-align="middle" width="34.83%">
            <mj-image align="left" alt="Image" css-class="image" href="https://labonnealternance.apprentissage.beta.gouv.fr?<%= data.utmParams %>" padding="17px 0px 17px 0px" src="<%= data.images.logoLba %>" alt="Lien vers le site de La bonne alternance" width="160px"></mj-image>
          </mj-column>
          <mj-column border-radius="0px" css-class="column" vertical-align="top" width="50.33%"></mj-column>
        </mj-group>
      </mj-section>
      <mj-spacer height="24px"></mj-spacer>
      <mj-section background-color="#ffffff" border-radius="4px" border="1px solid #e3e3fd" css-class="section" name="mj-section_group" padding="23px 23px 23px 23px">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" vertical-align="middle" width="100%">

        <mj-section padding-top="0" padding-bottom="0">
            <mj-column width="350px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="25px 0 46px 12px">
                <mj-text color="#000091" font-size="18px" padding-right="0" padding-top="26px">
                    <b>Recevez les demandes de contact des candidats directement dans les boîtes mails de votre CFA !</b>
                </mj-text>
            </mj-column>
            <mj-column width="250px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="20px 0 37px 0">
                <mj-image padding="10px 10px 4px 0" width="510px" src="<%= data.images.peopleLaptop %>" />
            </mj-column>
        </mj-section>
        <mj-section padding-top="0">
            <mj-column width="600px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="0 10px 20px 10px">
                <mj-text>
                    Le <b><%= data.etablissement.optOutActivatedAtDate %></b>, votre établissement gestionnaire <b><%= data.etablissement.emailGestionnaire %></b> a activé la fonctionnalité de prise de rendez-vous sur vos fiches formations publiées sur <a href="https://labonnealternance.apprentissage.beta.gouv.fr/?<%= data.utmParams %>" class="grey">La bonne alternance</a>. Il permettra aux candidats intéressés par vos formations de vous envoyer une demande de contact.

                </mj-text>
                <mj-text>
                    Vous recevrez ces demandes pour l’organisme de formation suivant :
                    <br/>
                    <b>
                        <%= data.etablissement.name %> <br />
                        <%= data.etablissement.formateur_address %><br/>
                        <%= data.etablissement.formateur_zip_code %> <%= data.etablissement.formateur_city %> <br/>
                        SIRET: <%= data.etablissement.siret %>
                    </b>
                </mj-text>
                <mj-image width="520px" src="<%= data.images.optOutLbaIntegrationExample %>" />
            </mj-column>
        </mj-section>
        <mj-section padding-top="24px">
            <mj-column width="600px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="20px 10px">
                <mj-text font-size="24px" font-weight="700">Qu’est ce que La bonne alternance ?</mj-text>
                <mj-text><a href="https://labonnealternance.apprentissage.beta.gouv.fr/?<%= data.utmParams %>" class="grey">La bonne alternance</a> a pour objectif d’aider les entreprises et les organismes de formation à <b>diffuser et gérer leurs offres de manière simplifiée</b>, et à faciliter la mise en relation entre les acteurs de l’apprentissage.<br/><br/>
                    <b>Vos offres d’emploi et vos formations sont visibles sur les sites d’alternance les plus visités par les candidats</b>, notamment La bonne alternance, Affelnet, Parcoursup, 1jeune1solution. Les informations de vos entreprises partenaires ne sont pas exposées aux candidats. Vous recevez directement les candidatures afin de préserver votre exclusivité.
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section padding-top="24px">
            <mj-column width="600px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="20px 10px">
                <mj-text><b>Qui reçoit les demandes de rendez-vous ?</b><br/><br/>
                    Les demandes de rendez-vous envoyées par les candidats auprès de votre CFA sont reçues sur le mail formateur renseigné auprès de votre Carif-Oref pour vos fiches formation.<br/><br/>

                    <b>Vous souhaitez modifier le mail de la personne en charge de traiter les demandes de prise de RDV ?</b><br/><br/>

                    Merci de nous fournir les éléments suivants: <br/><br/>
                    • SIRET de votre établissement, <br/>
                    • nom de la/les formation(s) à modifier, <br/>
                    • nouveau(x) mail(s) contact <br/><br/>
                    à <a href="mailto:<%= data.publicEmail %>" class="grey"><%= data.publicEmail %></a> afin de nous permettre d’effectuer ces modifications.
                </mj-text>
            </mj-column>
        </mj-section>

      <mj-spacer height="24px"></mj-spacer>
      <mj-section border-radius="4px" css-class="section" name="mj-section_group">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" vertical-align="middle" width="100%">
            <mj-text align="left" color="#666666" css-class="text" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="14px" font-weight="400" line-height="24px">
              Ce courriel est généré automatiquement, vous ne pouvez pas y répondre.
              <br />
              Pour toute question, consultez notre <a href="https://labonnealternance.apprentissage.beta.gouv.fr/faq?<%= data.utmParams %>">FAQ</a> ou écrivez-nous à <a href="mailto:<%= data.publicEmail %>"><%= data.publicEmail %></a>
              <br /><br />
              La bonne alternance est un site développé par la Délégation générale à l’emploi et à la formation professionnelle (DGEFP), au sein de l’État, conformément aux missions d’intérêt public du ministère du Travail et des Solidarités.
              <br /><br />
              Nous vous contactons car vous avez déclaré des formations en apprentissage auprès de votre Carif Oref.
              <br /><br />
              Par ailleurs, nous ne faisons aucune utilisation commerciale de vos adresses e-mail. Nous avons accès à vos données à caractère personnel car votre école transmet vos données au Tableau de bord de l’apprentissage. Vous bénéficiez d’un droit d’opposition que vous pouvez utiliser à tout moment via l’adresse <a href="mailto:<%= data.publicEmail %>"><%= data.publicEmail %></a>. Si vous pensez que vos droits ne sont pas respectés, vous pouvez à tout moment introduire une réclamation auprès de la CNIL.
              <br /><br />
              Pour plus d’informations sur le traitement de vos données, vous pouvez vous rendre sur la <a href="https://labonnealternance.apprentissage.beta.gouv.fr/politique-de-confidentialite?<%= data.utmParams %>">politique de confidentialité de La bonne alternance</a>.
            </mj-text>
          </mj-column>
        </mj-group>
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>
