<mjml>
  <mj-head>
    <mj-title>Les candidats peuvent contacter votre CFA directement depuis Parcoursup !</mj-title>
    <mj-breakpoint width="480px"></mj-breakpoint>
    <mj-attributes>
      <mj-all padding="0"></mj-all>
      <mj-all font-family="Arial, sans-serif" />
    </mj-attributes>
    <mj-style>
      @media only screen and (max-width: 799px) {
      .text > div {
      text-align: inherit !important;
      }
      .wrapper > table > tbody > tr > td {
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .section > table > tbody > tr > td {
      padding-left: 20px !important;
      padding-right: 20px !important;
      }
      .column > table > tbody > tr > td {
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .padB40 {
      padding-bottom: 40px !important;
      }
      .image {
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .image > table {
      text-align: center !important;
      margin: 0 auto !important;
      }
      .divider {
      padding-left: 0px !important;
      padding-right: 0px !important;
      }
      .button > table {
      width: 100% !important;
      }
      .button > table > tbody > tr > td > a {
      width: 80% !important;
      }
      }
    </mj-style>
    <mj-style inline="inline">
      .column > table { border-collapse: separate; }
    </mj-style>
  </mj-head>

  <mj-body background-color="#f5f5fe" width="800px">
    <mj-column border-radius="0px" css-class="wrapper" padding="32px 100px 32px 100px">
      <mj-section border-radius="0px" css-class="section">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" vertical-align="middle" width="14.83%">
            <mj-image align="left" alt="" css-class="image" alt="" src="<%= data.images.logoRf %>" width="89px"></mj-image>
          </mj-column>
          <mj-column border-radius="0px" css-class="column" padding="0px 24px 0px 24px" vertical-align="middle" width="34.83%">
            <mj-image align="left" alt="" css-class="image" href="https://labonnealternance.apprentissage.beta.gouv.fr?<%= data.utmParams %>" padding="17px 0px 17px 0px" src="<%= data.images.logoLba %>" alt="Lien vers le site de La bonne alternance" width="160px"></mj-image>
          </mj-column>
          <mj-column border-radius="0px" css-class="column" vertical-align="top" width="50.33%"></mj-column>
        </mj-group>
      </mj-section>
      <mj-spacer height="24px"></mj-spacer>
      <mj-section background-color="#ffffff" border-radius="4px" border="1px solid #e3e3fd" css-class="section">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" padding="23px" vertical-align="middle" width="100%">
            <mj-text align="left" color="#000091" css-class="text" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="20px" font-weight="700" line-height="26px" padding="16px 0px 16px 0px">
                Les candidats peuvent contacter votre CFA directement depuis Parcoursup !
            </mj-text>
            <mj-text font-size="16px" line-height="24px">
                Depuis <%= data.etablissement.premiumActivatedDate %>, votre centre de formation bénéficie du service de mise en relation permettant aux candidats de contacter votre CFA sur Parcoursup, proposé par La bonne alternance. L'ouverture de la saisie des voeux sur Parcoursup approche, préparer vous à répondre aux sollicitations des candidats
                <br /><br />
                Vous recevrez les demandes des candidats sur l’adresse email du contact principal du lieu de formation renseigné auprès de votre Carif-Oref pour l’organisme de formation suivant :
                <br /><br />
                <%= data.etablissement.name %> <br />
                <%= data.etablissement.formateur_address %><br/>
                <%= data.etablissement.formateur_zip_code %> <%= data.etablissement.formateur_city %> <br/>
                SIRET: <%= data.etablissement.siret %>
            </mj-text>

            <mj-image align="center" alt="" css-class="image" padding="12px" src="<%= data.images.optoutCfa %>" width="500px"></mj-image>

            <mj-text font-weight="bold" font-size="20px" line-height="26px">
              Comment ça marche ?
              <br /><br />
            </mj-text>

            <mj-text font-size="16px" line-height="24px">
              Vous recevrez les demandes des candidats à l’adresse email renseignée par votre établissement comme email de contact du lieu de formation auprès de votre <a style="color:#161616; text-decoration: 'underline';" href="https://www.intercariforef.org">Carif-Oref</a>.
              <br /><br />
              Un <strong>formulaire de contact est disponible sur les formations</strong> actuelles et futures exposées sur Parcoursup, rattachées à votre établissement.
              <br /><br />
              Ce service est proposé par <a style="color:#161616; text-decoration: 'underline';" href="https://labonnealternance.apprentissage.beta.gouv.fr/organisme-de-formation?<%= data.utmParams %>">La bonne alternance</a> pour Parcoursup.
            </mj-text>

            <mj-spacer height="24px"></mj-spacer>

            <mj-button color="#000091" font-size="16px" font-weight="bold" background-color="#ffffff" border="1px solid #000091" href="https://labonnealternance.apprentissage.beta.gouv.fr/faq?<%= data.utmParams %>">
              Je souhaite en savoir plus sur ce service
            </mj-button>
            
            <mj-spacer height="24px"></mj-spacer>
          </mj-column>
        </mj-group>
      </mj-section>

      <mj-spacer height="24px"></mj-spacer>
      
      <mj-section background-color="#ffffff" border-radius="4px" border="1px solid #e3e3fd" css-class="section">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" padding="23px" vertical-align="middle" width="100%">
            <mj-text font-weight="bold" font-size="20px" line-height="26px">
              Vos engagements Parcoursup
              <br /><br />
            </mj-text>
            <mj-text font-size="16px" line-height="24px">
              Ce service sur Parcoursup vous engage en tant que CFA à contacter tous les candidats qui feront une demande sur la plateforme dans un délai de 4 jours ouvrés après réception de la demande par courriel.
              <br /><br />
            </mj-text>
            <mj-text font-weight="bold" font-size="20px" line-height="26px">
              Vous souhaitez modifier le mail destinataire des demandes des candidats ?
              <br /><br />
            </mj-text>
            <mj-text font-size="16px" line-height="24px">
              Contactez notre équipe support à <a style="color:#161616; text-decoration: 'underline';" href="mailto:<%= data.publicEmail %>"><%= data.publicEmail %></a>.
              <br /><br />
              Cordialement,<br/>
              L'équipe <a href="https://labonnealternance.apprentissage.beta.gouv.fr/organisme-de-formation?<%= data.utmParams %>" style="color:#161616; text-decoration: 'underline';">La bonne alternance</a>,<br/>
            </mj-text>
          </mj-column>
        </mj-group> 
      </mj-section>

      <mj-section border-radius="4px" css-class="section" name="mj-section_group">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" vertical-align="middle" width="100%">
          <mj-spacer height="16px"></mj-spacer>
          <mj-image align="right" alt="" css-class="image" alt="" src="<%= data.images.logoParcoursup %>" width="268px"></mj-image>
          </mj-column>
        </mj-group>
      </mj-section>
      
      <mj-spacer height="24px"></mj-spacer>
      <mj-section border-radius="4px" css-class="section">
        <mj-group>
          <mj-column border-radius="0px" css-class="column" vertical-align="middle" width="100%">
            <mj-text align="left" color="#666666" css-class="text" font-family="Arial, Helvetica, Verdana, sans-serif" font-size="14px" font-weight="400" line-height="24px">
              Ce courriel est généré automatiquement, vous ne pouvez pas y répondre.
              <br />
              Pour toute question, consultez notre <a href="https://labonnealternance.apprentissage.beta.gouv.fr/faq?<%= data.utmParams %>">FAQ</a> ou écrivez-nous à <a href="mailto:<%= data.publicEmail %>"><%= data.publicEmail %></a>
              <br /><br />
              La bonne alternance est un site développé par la Délégation générale à l’emploi et à la formation professionnelle (DGEFP), au sein de l’État, conformément aux missions d’intérêt public du ministère du Travail et des Solidarités.
              <br /><br />
              Nous vous contactons car vous avez déclaré des formations en apprentissage auprès de votre Carif Oref.
              <br /><br />
              Par ailleurs, nous ne faisons aucune utilisation commerciale de vos adresses e-mail. Nous avons accès à vos données à caractère personnel car votre école transmet vos données au Tableau de bord de l’apprentissage. Vous bénéficiez d’un droit d’opposition que vous pouvez utiliser à tout moment via l’adresse <a href="mailto:<%= data.publicEmail %>"><%= data.publicEmail %></a>. Si vous pensez que vos droits ne sont pas respectés, vous pouvez à tout moment introduire une réclamation auprès de la CNIL.
              <br /><br />
              Pour plus d’informations sur le traitement de vos données, vous pouvez vous rendre sur la <a href="https://labonnealternance.apprentissage.beta.gouv.fr/politique-de-confidentialite?<%= data.utmParams %>">politique de confidentialité de La bonne alternance</a>.
            </mj-text>
          </mj-column>
        </mj-group>
      </mj-section>
    </mj-column>
  </mj-body>
</mjml>
