<mjml>
    <mj-head>
      <mj-title>Une entreprise souhaite être accompagnée dans son recrutement</mj-title>
      <mj-font name="Work Sans" href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" />
      <mj-style inline="inline">
        .grey {color: #1E1E1E;}
      </mj-style>
      <mj-attributes>
        <mj-text color="#242424" font-family="Work Sans, Arial" font-size="16px" line-height="24px" />
        <mj-button font-size="16px" line-height="24px" padding="8px 24px" font-family="Work Sans" height="40px" />
      </mj-attributes>
    </mj-head>
    <mj-body background-color="#E5E5E5">
      <mj-section>
        <mj-column>
          <mj-image src="<%= data.images.logoLba %>" width="150px" alt="Logo du site La bonne alternance" />
        </mj-column>
      </mj-section>
      <mj-section padding-top="0">
        <mj-column width="600px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="20px 10px">
          <mj-text>
            Bonjour,
          </mj-text>
          <mj-text>
            Suite à des mises à jour de sécurité du service La bonne alternance, le lien de consultation des coordonnées de l'entreprise présent dans l'email d'origine est devenu obsolète.
            Vous trouverez ci-dessous un nouveau lien vous permettant de répondre à l'entreprise ayant sollicité votre aide pour trouver des candidats
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section padding-top="0">
        <mj-column width="600px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="20px 10px">
  
          <mj-text>
            L’entreprise <%= data.enterpriseName %>, localisée à proximité de votre CFA, a exprimé un besoin en alternance. Contactez-la pour l’accompagner dans sa recherche et lui présenter vos apprentis.
          </mj-text>
          <mj-text padding-bottom="27px">
            Métier : <b><%= data.jobName %></b> <br>
            Type de contrat : <b><%= data.contractType %></b> <br>
            Niveau de formation : <b><%= data.trainingLevel %></b> <br>
            Date de début : <b><%= data.startDate %></b> <br>
            Durée : <b><%= data.duration %> mois</b> <br>
            Rythme : <b><%= data.rhythm %></b> <br>
          </mj-text>
          <mj-button color="#ffffff" background-color="#000091" href="<%= data.offerButton %>">
            Voir les coordonnées de l’entreprise
          </mj-button>
        </mj-column>
      </mj-section>
      <mj-section padding-top="30px">
        <mj-column width="600px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="20px 10px">
          <mj-text font-size="16px" line-height="24px" font-weight="600" color="#242424">
            Vous n’avez pas encore de compte ?
          </mj-text>
          <mj-text>
            Avec La bonne alternance, déposez et gérez les offres de vos entreprises partenaires, et attirez de nouveaux jeunes vers vos formations.
            <br></br>
  
            La bonne alternance est un service construit par <a href="https://www.linkedin.com/company/mission-apprentissage/posts/?feedView=all">la mission ministérielle pour l’apprentissage</a> en lien avec les acteurs de l’apprentissage.
            <br><br>
            Créez votre compte en cliquant sur ce lien :
          </mj-text>
          <mj-button color="#ffffff" background-color="#000091" href="<%= data.createAccountButton %>" padding-bottom="27px" padding-top="27px">
            Créer mon compte
          </mj-button>
          <mj-divider border-width="1px" border-color="lightgrey" padding-bottom="27px" />
          <mj-text>
            L'équipe <a class="grey" href="https://labonnealternance.apprentissage.beta.gouv.fr/organisme-de-formation">La bonne alternance</a>.
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section padding-top="30px">
        <mj-column width="600px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="20px 10px">
          <mj-text font-size="16px" line-height="24px" font-weight="600" color="#242424">
            Désinscription
          </mj-text>
          <mj-text>
            <a href="<%= data.unsubscribeUrl %>">Je ne souhaite plus recevoir de mails de mise en relation avec des entreprises</a>
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section padding-top="30px">
        <mj-column>
          <mj-image src="https://labonnealternance.apprentissage.beta.gouv.fr/assets/logo-republique-francaise.webp" width="200px" align="left"></mj-image>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
