<mjml>
    <mj-head>
        <mj-title>C'est parti pour améliorer le sourcing de vos candidats !</mj-title>
        <mj-font name="Work Sans" href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" />
        <mj-style inline="inline">
            .grey {color: #1E1E1E;}
        </mj-style>
        <mj-attributes>
            <mj-text color="#242424" font-family="Work Sans, Arial" font-size="16px" line-height="24px" />
            <mj-button font-size="16px" line-height="24px" padding="8px 24px" font-family="Work Sans" height="40px" />
        </mj-attributes>
    </mj-head>
    <mj-body background-color="#E5E5E5">
        <mj-section>
            <mj-column>
                <mj-image src="<%= data.images.logoCfa %>" width="150px"  alt="Logo" />
            </mj-column>
        </mj-section>
        <mj-section padding-top="0" padding-bottom="0">
            <mj-column width="600px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="20px 10px 0 10px">
                <mj-text color="#000091" font-size="18px" padding-bottom="20px">
                    <b>Recevez les demandes de contact des candidats directement dans les boîtes mail de votre CFA !</b>
                </mj-text>
                <mj-text>
                    Un nouveau service vient d'être ajouté à vos fiches formations publiées sur La bonne alternance.
                    Il permettra aux candidats intéressés par vos formations de vous envoyer une demande de contact. </mj-text>
                <mj-text>Vous recevrez ces demandes sur les adresses email que vous avez enregistrées auprès de votre <u><a href="https://www.intercariforef.org">Carif-Oref</a></u> pour l’organisme de formation suivant :
                    <br/>
                    <b>
                        <%= data.etablissement.name %> <br />
                        <%= data.etablissement.address %><br/>
                        <%= data.etablissement.postalCode %> <%= data.etablissement.ville %><br/>
                        SIRET : <%= data.etablissement.siret %>
                    </b>
                </mj-text>
                <mj-image width="520px" src="<%= data.images.optOutLbaIntegrationExample %>" />
                <mj-text padding-top="20px">
                    Pour continuer à améliorer votre sourcing, ce service sera progressivement activé sur chacune de vos fiches formations publiées sur
                    Parcoursup, Affelnet et d’autres plateformes et portails du service public.
                </mj-text>
                <mj-button color="#000091" background-color="#ffffff" border="1px solid #000091" href="https://mission-apprentissage.gitbook.io/rendez-vous-apprentissage-inscription/">
                    Je souhaite en savoir plus sur ce service
                </mj-button>
                <mj-button color="#000091" background-color="#ffffff" border="1px solid #000091" href="mailto:rdv_apprentissage@apprentissage.beta.gouv.fr">
                    J’ai une question
                </mj-button>
                <mj-button color="#000091" background-color="#ffffff" border="1px solid #000091" href="<%= data.etablissement.linkToUnsubscribe %>">
                    Je ne souhaite pas bénéficier de ce service
                </mj-button>
            </mj-column>
        </mj-section>
        <mj-section background-color="#FFFFFF" padding-top="20px">
            <mj-column width="50px" background-color="#EEEEEE" padding="14px 10px" vertical-align="middle" padding-right="0">
                <mj-image src="<%= data.images.informationIcon %>" width="20px" padding-left="3px" padding-right="7px" />
            </mj-column>
            <mj-column width="480px" background-color="#EEEEEE" vertical-align="middle" padding-left="0">
                <mj-text>
                    Nous vous invitons à vérifier régulièrement vos boîtes mails pour répondre aux candidats dès que possible.
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section padding-top="30px">
            <mj-column width="600px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="20px 10px">
                <mj-text>
                    Si vous avez des questions ou si vous souhaitez vous désinscrire du service, envoyez un email à <a class="grey" href="mailto:rdv_apprentissage@apprentissage.beta.gouv.fr">rdv_apprentissage@apprentissage.beta.gouv.fr</a>
                </mj-text>
                <mj-text>
                    Cette demande à été réalisée sur le site La bonne alternance
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section padding-top="30px">
            <mj-column width="600px" background-color="#FFFFFF" border-radius="4px" border="1px solid #FFFFFF" padding="20px 10px">
                <mj-text>
                    A très bientôt,<br/>
                    L'équipe La bonne alternance,<br/>
                    <a class="grey" href="https://mission-apprentissage.gitbook.io/general/">Mission interministérielle pour l'apprentissage et les trajectoires professionnelles</a>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section padding-top="5px" text-align="left">
            <mj-column width="200px">
                <mj-image padding="0" src="<%= data.images.logoFooter %>"></mj-image>
            </mj-column>
            <mj-column width="400px" padding-left="30px">
                <mj-text padding-bottom="15px" padding-right="0" font-size="12px">
                    Cet email a été envoyé à <a class="grey" href="mailto:<%= data.etablissement.email %>"><%= data.etablissement.email %></a>.
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
